<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warteros</title>
    @Styles.Render("~/Content/Styles/css")
    @RenderSection("Styles", required: false)
</head>
<body>   
    @RenderBody()
    @Scripts.Render("~/bundles/scripts")  
    @RenderSection("Scripts", required: false)
</body>
</html>


