@Html.Partial("_Attack")
@Html.Partial("_Battle")
@Html.Partial("_Distribute")
@Html.Partial("_MoveTroops")
@Html.Partial("_Objective")
@Html.Partial("_Error")

<div class="tabuleiro">
    <div class="row">
        <div class="col-md-4"><h5 class="head"><span id="round">1º Round</span></h5></div>
        <div class="col-md-4"><h5 class="head">Jogador: <span id="player-name"></span></h5></div>
        <div class="col-md-4 head"><input id="player-id" class="hidden" value="" /></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <canvas id="westeros-map" width="1100" height="600"></canvas>
            </div>
            <div class="col-md-2">
                <div id="info-jogador">
                    <div id="cabecalho-jogador">
                        <h4 style="text-align:center">@ViewBag.Name @ViewBag.Familiy</h4>
                        <main class="inline-block-centralizado" style="margin-bottom:10px">
                            <img src="@ViewBag.Src" width="100">
                        </main>
                    </div>
                    <hr />
                    <div class="container">
                        <main class="inline-block-centralizado">
                            <a id="objective" title="Objetivo">
                                <img src="../Content/Images/objective-icon.png" width="50" id="objective-icon" />
                            </a>
                        </main>
                    </div>     
                    <hr />
                    <div class="container">
                        <main class="inline-block-centralizado">
                            <span class="turn-name">Distribuição de tropas</span>
                            <input type="text" class="form-control text-center" id="troops-to-distributed" disabled/>
                        </main>
                    </div>   
                    <hr />           
                    <main class="inline-block-centralizado" style="margin-bottom:10px">
                        <button type="button" class="btn btn-default" id="pass-round">PASSAR RODADA</button>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
   
@section Scripts {
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    @Scripts.Render("~/bundles/westeros-map")
}
